.boardDisplay{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.eachBoard{
    display: grid;
    margin: 1.5rem;
    place-items: center;
}

.boardTitle, .boardCategory, .boardDescription, .boardAuthor{
    color: white;
}

.boardTitle {
    text-align: center;
}

.boardType{
    color: white;
}

.boardDelete{
    margin-right: 0.7rem;
}
.boardDelete:hover{
    background-color: #ff0127;
    color: white;
    border-color: white;
}

.boardView{
    margin-right: 0.7rem;
}
