.eachCard{
    display: grid;
    margin: 1.5rem;
    place-items: center;
}

.cardTitle{
    color: white;
}

.upVoteButton{
    margin-right: 10px;
}
.upVoteButton:hover{
    background-color: orange;
    color: white;
}

.cardDeleteButton:hover{
    background-color: #ff0127;
    color: white;
    border-color: white;
}
.addCommentButton{
    margin-top: 5px;
}
.addCommentButton:hover{
    background-color: aqua;
}

.commentViewButton{
    margin-left: 4px;
}
.commentViewButton:hover{
    background-color: yellow;
}
