.searchArea{
  text-align: center;
}

.searchInput{
  width: 15rem;
  border-radius: 10px;
  height: 2.3rem;
}

.createButton{
  margin: 10px;
  background: linear-gradient(45deg, blue 0%, purple 0%, rgb(230, 70, 182) 0%, rgb(255, 102, 102) 100%)
}
